.component-addNode{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 20px;
}

.component-addNode .page-info-desc{
  width: 50%;
  margin: 20px auto;
}

.component-addNode .anticon.anticon-info-circle{
  color: #108ee9;
  transform: scale(1.5);
  margin-right: 10px;
}

.component-addNode .ant-form{
  width: 50%;
  margin: 0 auto;
}

.component-addNode .ant-form .ant-input-group-wrapper{
  margin: 20px 0;
  display: block;
}