.component-nodelist .ant-card:hover{
  transform: translateY(-15px)
}

.component-nodelist .ant-card{
  display: inline-block;
  width: 300px;
  margin: 15px;
}

.component-nodelist{
  padding: 40px 20px;
  min-height: 327px;
}

.component-nodelist .emptyInfo{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 26px;
  color: #999;
}

.component-nodelist .emptyInfo .goCreate{
  margin-top: 20px;
  border: 2px dashed currentColor;
  box-sizing: border-box;
  padding: 40px 20px;
  text-align: center;
  transition: color .3s ease-in;
  user-select: none;
  color: #ccc;
}

.component-nodelist .emptyInfo .goCreate:hover{
  color: #108ee9;
  cursor: pointer
}

.component-nodelist .ant-spin-nested-loading{
  height: 327px;
}