.addNodeItem{
  width: 300px;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addNodeItem .ant-card-body{
  transition: transform .3s ease-in;
}

.addNodeItem:hover .ant-card-body{
  transform: scale(1.5)
}